@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply border rounded-md my-4 mx-2 bg-white
}

.btn-close {
  box-sizing: content-box;
  width: 1rem;
  height: 1rem;
  padding: 0.25rem 0.25rem;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
}

.btn-blue {
  @apply 
    bg-blue-500 text-white rounded-md 
    text-center py-1.5 px-4 duration-200 
}

.btn-blue:not(:disabled) {
  @apply
    hover:bg-blue-700 cursor-pointer
    active:ring-4 active:ring-blue-400
}

.btn-blue-lg {
  @apply 
    bg-blue-500 text-white rounded-md 
    text-center text-xl py-2.5 px-4 duration-200 
}

.btn-blue-lg:not(:disabled) {
  @apply
    hover:bg-blue-700 cursor-pointer
    active:ring-4 active:ring-blue-400
}

.btn-white {
  @apply 
    bg-white text-gray-400 border rounded-md 
    text-center py-1.5 px-4 duration-200 
}

.btn-white:not(:disabled) {
  @apply
    hover:text-white hover:bg-slate-500 hover:border-slate-500
    active:ring-4 active:ring-slate-400 cursor-pointer
}

.btn-white-lg {
  @apply
    bg-white text-gray-400 border rounded-md 
    text-center text-xl py-2.5 px-4 duration-200 
}

.btn-white-lg:not(:disabled) {
  @apply
    hover:text-white hover:bg-slate-500 hover:border-slate-500
    active:ring-4 active:ring-slate-400 cursor-pointer
}

.form-input {
  @apply 
    border rounded-md w-full py-1.5 px-3 outline-none duration-200 
    focus:ring-4 focus:ring-blue-200 focus:border-blue-300
}